@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap);
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  outline: 0;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
:root {
  --accent: #27E7DB;
  --plasma: "Plasma Drip";
  --voronov: "VoronovFont"
}
@font-face {
  font-family: "Plasma Drip";
  src: url(../fonts/plasma/plasma.eot);
  src: local("plasma"),url(../fonts/plasma/plasma.eot?#iefix) format("embedded-opentype"),url(../fonts/plasma/plasma.woff2) format("woff2"),url(../fonts/plasma/plasma.woff) format("woff"),url(../fonts/plasma/plasma.ttf) format("truetype"),url(../fonts/plasma/plasma.otf) format("opentype"),url(../fonts/plasma/plasma.svg) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: VoronovFont;
  src: url(../fonts/voronov/Ubuntu-Regular.eot);
  src: local("Ubuntu-Regular"),url(../fonts/voronov/voronov.eot?#iefix) format("embedded-opentype"),url(../fonts/voronov/voronov.woff2) format("woff2"),url(../fonts/voronov/voronov.woff) format("woff"),url(../fonts/voronov/voronov.ttf) format("truetype"),url(../fonts/voronov/voronov.otf) format("opentype"),url(../fonts/voronov/voronov.svg) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
.svg-svg-burger {
  background: url(../images/sprites/main.svg) no-repeat
}
.svg-svg-burger {
  background-position: 0 0;
  background-size: 100% auto;
  width: 52px
}
.svg-svg-burger:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-burger-dims {
  width: 52px;
  height: 52px
}
.image-by-height {
  width: auto
}
.image-by-height:before {
  content: none
}
.image-by-height > svg {
  height: inherit
}
.image-by-height > img {
  height: inherit!important;
  vertical-align: top!important;
  margin: 0!important;
  padding: 0!important;
  max-width: none!important;
  max-height: none!important;
  border: 0!important;
  opacity: 0!important
}
html {
  box-sizing: border-box
}
*,
::after,
::before {
  box-sizing: border-box
}
.content-box-component {
  box-sizing: content-box
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #000a24;
  color: #fff;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
body.no-scroll {
  overflow: hidden
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden
}
a {
  text-decoration: none;
  color: inherit
}
button {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: none;
  color: inherit
}
ul {
  margin: 0;
  padding: 0;
  list-style: none
}
p {
  margin: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}
img {
  display: block;
  max-width: 100%;
  height: auto
}
svg {
  max-width: 100%;
  max-height: 100%
}
picture {
  display: block
}
.background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 10px;
  overflow: hidden
}
.background-image picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}
.background-image picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 10px
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto
}
@media screen and (max-width:1440px) {
  .container {
    padding: 0 15px
  }
}
.big-title {
  font-weight: 400;
  font-size: 130px;
  line-height: 100%;
  font-family: var(--plasma);
  text-align: center
}
.text {
  width: 100%;
  max-width: 702px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center
}
.swiper-button-prev {
  top: 143px;
  width: 55px;
  height: 60px;
  left: -78px
}
.swiper-button-prev::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/icons/left.svg);
  background-size: contain;
  background-repeat: no-repeat
}
.swiper-button-next {
  top: 143px;
  width: 55px;
  height: 60px;
  right: -102px
}
.swiper-button-next::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/icons/right.svg);
  background-size: contain;
  background-repeat: no-repeat
}
@media screen and (max-width:767px) {
  .text {
    font-size: 14px;
    line-height: 21px
  }
  .swiper:no-button-next,
  .swiper:no-button-prev {
    width: 40px;
    height: 40px
  }
  .big-title {
    font-size: 60px
  }
}
.header {
  margin-bottom: 42px
}
.header__gradient {
  width: 100%;
  height: 800px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(180deg,#000a23 0,#002a5a 100%);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.header__stars {
  position: absolute;
  height: 1800px;
  z-index: 1;
  top: 30px;
  left: -7px;
  right: 0;
  background: url(../images/blocks/stars.svg)
}
.header__inner {
  max-width: 1280px;
  position: relative;
  z-index: 10
}
.header__top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header__ms {
  width: 108px;
  position: relative;
  z-index: 10
}
.header__ms svg {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.header__center {
  padding-top: 38px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 1020px;
  position: relative
}
.header__center-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 10
}
.header__moon {
  position: absolute;
  top: 0;
  left: -174px;
  right: -170px
}
.header__moon img {
  width: 100%;
  height: auto
}
.header__logo {
  margin-bottom: 20px
}
.header__nav {
  margin-bottom: 35px
}
.header__nav-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start
}
.header__nav-item {
  margin-right: 10px
}
.header__nav-item:last-child {
  margin-right: 0
}
.header__nav-link {
  display: block;
  padding: 0 15px 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  position: relative
}
.header__nav-link--active {
  color: var(--accent)
}
.header__nav-link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: url(../images/blocks/line.png);
  background-size: contain;
  background-repeat: no-repeat
}
.header__text {
  max-width: 702px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  position: relative;
  z-index: 10
}
.header__santa {
  margin-top: -45px;
  -webkit-animation-name: santaMedidation;
  animation-name: santaMedidation;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}
.header__time {
  position: absolute;
  left: -260px;
  bottom: 111px
}
.header__lang {
  margin-top: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10
}
.header__lang-item:not(:last-child) {
  margin-right: 27px
}
.header__lang-btn {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: .06em;
  font-family: var(--plasma)
}
.header__lang-btn--active {
  color: var(--accent)
}
.header__burger {
  width: 50px;
  height: 50px;
  display: none;
  fill: var(--accent)
}
.header__burger:active,
.header__burger:focus,
.header__burger:hover {
  fill: #fff
}
.header__right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
@media screen and (max-width:1440px) {
  .header__inner {
    padding: 0 15px
  }
  .header__moon {
    left: 0;
    right: 0
  }
  .header__logo {
    width: 100%;
    max-width: 600px
  }
  .header__time {
    width: 300px;
    height: auto
  }
}
@media screen and (max-width:1200px) {
  .header {
    margin-bottom: 20px
  }
  .header.header--active {
    position: relative;
    z-index: 1000
  }
  .header__burger {
    display: block
  }
  .header__lang {
    margin-top: 0;
    margin-left: 30px
  }
  .header__top {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .header__center {
    padding-top: 0;
    width: 100%;
    max-width: 100%;
    position: static
  }
  .header__time {
    left: 0;
    bottom: 180px
  }
  .header__nav {
    display: none;
    margin-bottom: 0;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #000a24;
    position: fixed;
    z-index: 1000;
    top: 145px;
    left: 0;
    right: 0;
    bottom: 0
  }
  .header__nav-list {
    padding-top: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto
  }
  .header__nav.header__nav--active {
    display: block
  }
  .header__text {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1
  }
  .header__santa {
    width: 100%;
    max-width: 500px
  }
  .header__right {
    position: absolute;
    right: 15px;
    top: 17px
  }
}
@media screen and (max-width:1200px) {
  .header__time {
    width: 200px
  }
}
@media screen and (max-width:767px) {
  .header__text {
    font-size: 16px
  }
  .header__time {
    width: 120px;
    left: -40px
  }
  .header__santa {
    width: 400px
  }
}
@media screen and (max-width:460px) {
  .header__santa {
    width: 300px
  }
  .header__ms {
    width: 47px
  }
  .header__center {
    margin-top: 16px
  }
  .header__nav {
    top: 80px
  }
}
.main {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  z-index: 20
}
.mission {
  margin-bottom: 92px;
  position: relative;
  z-index: 10
}
.mission__duck {
  position: absolute;
  right: 0;
  top: -320px
}
.mission__header {
  text-align: center
}
.mission__header-lead {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  position: relative;
  z-index: 10
}
.mission__header-text {
  width: 100%;
  max-width: 702px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%
}
.mission__header-title {
  margin-top: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-transform: uppercase
}
.mission__header-title__main {
  position: relative;
  z-index: 5;
  white-space: nowrap
}
.mission__header-title__fon {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #81e03d;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  white-space: nowrap
}
.mission__header-title__fon .mission__header-title__days {
  color: #81e03d
}
.mission__header-title__days {
  color: var(--accent)
}
.mission__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px
}
.mission__item {
  width: 305px;
  min-height: 288px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.mission__notepad {
  width: 100%;
  height: 100%;
  padding: 60px 20px 32px 38px;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.mission__notepad-img {
  width: 105%;
  max-width: 105%;
  height: 105%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
}
.mission__notepad-text {
  width: 100%;
  max-width: 236px;
  position: relative;
  z-index: 10;
  font-size: 18px;
  line-height: 133%;
  color: #000;
  font-family: var(--voronov);
  text-align: center
}
.mission__date {
  width: 225px;
  height: 198px;
  padding-top: 23px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: var(--plasma);
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: .06em;
  color: var(--accent)
}
.mission__date-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%
}
.mission__date-text {
  position: relative;
  z-index: 10
}
.mission .swiper-button-next {
  display: none
}
@media screen and (max-width:1439px) {
  .mission__header {
    margin-bottom: 30px
  }
  .mission__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px
  }
  .mission__item {
    width: auto
  }
  .mission__date {
    width: 80%;
    height: 80%
  }
}
@media screen and (max-width:1365px) {
  .mission {
    padding-top: 250px
  }
  .mission__duck {
    width: 350px;
    top: 0
  }
}
@media screen and (max-width:1000px) {
  .mission__date {
    font-size: 58px
  }
}
@media screen and (max-width:820px) {
  .mission {
    margin-bottom: 20px;
    overflow-x: hidden
  }
  .mission__inner {
    padding: 0
  }
  .mission__header {
    padding: 0 16px
  }
  .mission__list {
    width: calc(100% - 60px);
    margin-left: 60px;
    overflow: hidden
  }
  .mission__list-wrapper {
    position: relative;
    overflow: hidden
  }
  .mission__wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }
  .mission__item {
    width: 207px;
    min-width: 207px;
    height: 196px;
    min-height: 196px;
    margin-right: 0
  }
  .mission__date {
    font-size: 40px;
    line-height: 56px
  }
  .mission__notepad-text {
    font-size: 14px;
    line-height: 16px
  }
  .mission .swiper-button-next {
    right: auto;
    left: 10px;
    top: 50%;
    display: block
  }
}
@media screen and (max-width:767px) {
  .mission__header-lead {
    font-size: 16px;
    line-height: 20px
  }
  .mission__header-text {
    font-size: 14px;
    line-height: 21px
  }
}
.hq {
  margin-bottom: 100px
}
.hq__header {
  position: relative
}
.hq__donut {
  position: absolute;
  left: -234px;
  top: -107px
}
.hq__title {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.hq__title-main {
  position: relative;
  z-index: 10;
  white-space: nowrap
}
.hq__title-fon {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-filter: blur(15px);
  filter: blur(15px);
  white-space: nowrap
}
.hq__title-fon .hq__title-ms {
  color: #70c53a
}
.hq__title-ms {
  color: var(--accent)
}
.hq__text {
  width: 100%;
  max-width: 702px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center
}
.hq__swiper {
  padding-top: 55px;
  position: relative
}
.hq__swiper-wrapper {
  overflow-x: hidden
}
.hq__list {
  width: 100%;
  max-width: 1238px;
  margin: 0 auto;
  padding-left: 3px;
  position: relative
}
.hq__item {
  width: 257px;
  position: relative
}
.hq__item:nth-child(4n) {
  margin-right: 0
}
.hq__item::after {
  content: "";
  position: absolute;
  right: -63px;
  top: 60px;
  height: 131px;
  width: 63px;
  background: url(../images/blocks/hq-item.svg);
  background-repeat: no-repeat;
  background-size: contain
}
.hq__item-photo {
  width: 100%;
  height: 194px;
  overflow: hidden;
  position: relative;
  z-index: 10
}
.hq__item-photo img {
  width: 100%;
  height: auto
}
.hq__item-img {
  padding: 3px;
  width: 100%;
  position: relative
}
.hq__item-border {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 3px solid var(--accent)
}
.hq__item-border::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 5px solid #81e03d;
  -webkit-filter: blur(20px);
  filter: blur(20px)
}
.hq__item-info {
  padding-top: 28px
}
.hq__item-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px
}
.hq__item-city {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px
}
@media screen and (max-width:1700px) {
  .hq__donut {
    left: calc(100% - 1400px)
  }
}
@media screen and (max-width:1500px) {
  .hq .swiper-button-prev {
    left: -50px
  }
  .hq .swiper-button-next {
    right: -70px
  }
}
@media screen and (max-width:1439px) {
  .hq__inner {
    padding: 0 50px
  }
  .hq__item-img {
    height: auto
  }
  .hq__item-photo {
    height: auto
  }
  .hq__item::after {
    top: calc(100% - 202px)
  }
  .hq__swiper-wrapper {
    width: calc(100% - 100px);
    margin: 0 auto
  }
  .hq .swiper-button-prev {
    top: calc(50% + 55px - 71px);
    left: 0
  }
  .hq .swiper-button-next {
    top: calc(50% + 55px - 71px);
    right: -20px
  }
}
@media screen and (max-width:1365px) {
  .hq__header {
    padding-top: 250px
  }
  .hq__donut {
    width: 300px;
    height: auto;
    top: 0;
    left: 0
  }
}
@media screen and (max-width:767px) {
  .hq__text {
    font-size: 14px;
    line-height: 21px
  }
}
@media screen and (max-width:639px) {
  .hq__donut {
    width: 240px;
    left: -50px
  }
  .hq__header {
    padding-top: 195px
  }
  .hq__inner {
    padding: 0
  }
  .hq__title {
    font-size: 60px;
    line-height: 84px
  }
  .hq__item {
    width: 208px
  }
  .hq__item-info {
    padding-top: 20px
  }
  .hq__item::after {
    width: 51px;
    height: 105px;
    right: -50px;
    top: 50px;
    background-image: url(../images/blocks/hq-item-mob.svg)
  }
  .hq__swiper-wrapper {
    width: calc(100% - 60px);
    margin-left: 60px
  }
  .hq .swiper-button-prev {
    display: none
  }
  .hq .swiper-button-next {
    right: auto;
    left: 16px
  }
}
.download__form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start
}
.download__form-field {
  margin-right: 64px;
  width: 479px;
  height: 236px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px dashed var(--accent);
  border-radius: 18px;
  cursor: pointer
}
.download__form-field span {
  text-decoration: underline;
  text-align: center;
  color: var(--accent);
  font-size: 18px;
  line-height: 22px
}
.download__form-field input {
  display: none
}
.download__form-result {
  width: 414px
}
.download__form-title {
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #27e7db
}
.download__form-inputs input {
  display: block;
  width: 100%;
  height: 45px;
  font-size: 14px;
  line-height: 17px;
  background: 0 0;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff
}
.download__form-inputs input::-webkit-input-placeholder {
  font-size: 14px;
  color: #fff
}
.download__form-inputs input::-moz-placeholder {
  font-size: 14px;
  color: #fff
}
.download__form-inputs input:-ms-input-placeholder {
  font-size: 14px;
  color: #fff
}
.download__form-inputs input::placeholder {
  font-size: 14px;
  color: #fff
}
.download__form-btn {
  margin-left: 40px;
  min-width: 252px;
  height: 289px;
  padding-bottom: 118px;
  background: url(../images/blocks/download-btn.png),url(../images/blocks/download-btn-hover.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center
}
.download__form-btn:active,
.download__form-btn:focus,
.download__form-btn:hover {
  background-image: url(../images/blocks/download-btn-hover.png)
}
@media screen and (max-width:1439px) {
  .download__form-field {
    margin-right: 60px
  }
  .download__form-result {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
  }
}
@media screen and (max-width:1200px) {
  .download__inner {
    padding: 0 16px
  }
  .download__form {
    width: 100%;
    max-width: 800px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }
  .download__form-result {
    width: 100%;
    margin-bottom: 40px;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1
  }
  .download__form-field {
    margin: 0;
    margin-bottom: 40px;
    width: 100%
  }
  .download__form-btn {
    margin-left: 0
  }
}
@media screen and (max-width:767px) {
  .download__form-title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 29px
  }
  .download__form-result {
    margin-bottom: 33px
  }
  .download__form-field {
    height: 200px
  }
  .download__form-field span {
    font-size: 18px;
    line-height: 22px
  }
  .download__form-field span br {
    display: none
  }
  .download__form-btn {
    padding-bottom: 0;
    width: 190px;
    min-width: 190px;
    height: 230px;
    background-size: contain;
    position: relative
  }
  .download__form-btn span {
    position: relative;
    top: -50px
  }
}
.park {
  position: relative;
  background: url(../images/blocks/stars2.svg)
}
.park::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 130px
}
.park__img {
  position: relative;
  z-index: 10
}
.park__img img {
  width: 100%
}
@-webkit-keyframes santaMedidation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes santaMedidation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
/*# sourceMappingURL=maps/main.css.map */
